{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static "vendor/select2-4.1.0-beta.1/dist/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/css/datepiker-css/gijgo.min.css" %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center p-3">
        <div class="form-container bg-white shadow p-5 rounded w-100 ">
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script src="{% static "vendor/js/datepiker-js/gijgo.min.js" %}"></script>
    <script src="{% static "vendor/select2-4.1.0-beta.1/dist/js/select2.js" %}"></script>
    <script>
        $('#id_readiness_date').datepicker({format: 'yyyy-mm-dd'});
        $('#id_planted_date').datepicker({format: 'yyyy-mm-dd'});
        $("#id_pitomnik").select2();
        $("#id_plant").select2();
        $('#id_plant_type').select2({minimumResultsForSearch: Infinity});

    </script>
    <script>
        let form = document.getElementById("click-only-once")
        let button = document.getElementById("form-button")
        form.addEventListener("submit", () => {
            button.setAttribute("disabled", "")
        })
    </script>
{% endblock %}