{% extends "base.html" %}
{% load pitomnik_tags %}
{% block content %}
    <div class="content-wrapper content-wrapper--with-bg">
        <div class="card">
            <div class="card-header">
                <span><p><i class="fas fa-bars"></i> Ўсимликлар</p></span>
            </div>
            <div class="row treeTypes">
                <div class="col-lg-3">
                    <a class="{% if section == "None" %}pressed{% endif %}"
                       href="{% url "pitomnik:pitomnikplants:republic-pitomnik-plants" %}">Ҳаммаси</a>
                </div>
                <div class="col-lg-3">
                    <a class="{% if section == "bush" %}pressed{% endif %}"
                       href="{% url "pitomnik:pitomnikplants:republic-pitomnik-plants" %}?type=bush">Буталар</a>
                </div>
                <div class="col-lg-3">
                    <a class="{% if section == "leaf_shaped_tree" %}pressed{% endif %}"
                       href="{% url "pitomnik:pitomnikplants:republic-pitomnik-plants" %}?type=leaf_shaped_tree">Япроқ
                        баргли дарахт</a>
                </div>
                <div class="col-lg-3">
                    <a class="{% if section == "pitomnik_plant_coniferous_tree" %}pressed{% endif %}"
                       href="{% url "pitomnik:pitomnikplants:republic-pitomnik-plants" %}?type=coniferous_tree">Игна
                        баргли дарахт</a>
                </div>
            </div>

            <div id="table" class="table-responsive">
                <table class="table plant">
                    <thead>
                    <td>№</td>
                    <td>Ўсимлик номи</td>
                    <td>Экилган миқдори (барчаси)</td>
                    <td>Экилган миқдори (тайёри)</td>
                    <td>Экилган майдон</td>
                    </thead>
                    <tbody>
                    {% for pitomnik_plant_item in pitomnik_plant_republic %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>{{ pitomnik_plant_item.name }}</td>
                            <td>{{ pitomnik_plant_item.total_plant_quantity }}</td>
                            <td>{{ pitomnik_plant_item.ready_plant_quantity }}</td>
                            <td>{{ pitomnik_plant_item.field_to_be_planted | get_decimal}}</td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="9"></td>
                        </tr>
                        <tr>
                            <td colspan="9">Питомникларга ўсимликлар қошилмаган</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="alert alert-primary"></td>
                        <td class="alert alert-primary">Жами</td>
                        <td class="alert alert-primary">{{ total_plant }} </td>
                        <td class="alert alert-primary">{{ total_ready_plant }} </td>
                        <td class="alert alert-primary">{{ total_field | get_decimal }}</td>
                    </tr>
                    </tbody>
                </table>
                {% include "pitomnik_plant_pagination.html" %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}