{% extends "base.html" %}
{% load static %}
{% load pitomnik_tags %}
{% load crispy_forms_tags %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static "vendor/select2-4.1.0-beta.1/dist/css/select2.min.css" %}">
{% endblock %}
{% block content %}
    <div class="content-wrapper content-wrapper--with-bg">
        <div class="card">
            <div class="card-header">
                <span><p><i class="fas fa-bars"></i> Сақлаш жадвали</p></span>
            </div>
            <div class="card-body pt-0">
                <div id="table" class="table-responsive">
                    <table class="table plant">
                        <thead>
                        <tr>
                            <th rowspan="3">#</th>
                            <th rowspan="3">Ташкилот номи</th>
                            <th rowspan="2" colspan="2">Дарахтлар сони</th>
                            <th colspan="4">Иш турлари</th>
                            <th colspan="2">Жалб килинган</th>
                        </tr>
                        <tr>
                            <th class="coll" scope="col" colspan="2">Агротехник
                                тадбирлар (чопик, шакл бериш,
                                оклаш, бегона ўтдан тозалаш)
                            </th>
                            <th class="coll" scope="col" colspan="2">Агрокимёвий
                                ишлар
                                (органик ва минерал ўғитлаш, кимёвий дорилар
                                билан ишлов бериш ва х.к)
                            </th>
                            <th class="coll" scope="col" rowspan="2">Ишчилар
                            </th>
                            <th class="coll" scope="col" rowspan="2">Техника
                            </th>
                        </tr>
                        <tr>

                            <th class="coll" scope="col">дона</th>
                            <th class="coll" scope="col">км</th>
                            <th class="coll" scope="col">дона</th>
                            <th class="coll" scope="col">км</th>
                            <th class="coll" scope="col">дона</th>
                            <th class="coll" scope="col">км</th>

                        </tr>


                        </thead>
                        <tbody>
                        {% for job in object_list %}
                            <tr>
                                <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                                <td>
                                    <a href="{% url "pitomnik:savingjob:list_region_admin" job.organization__id %}">{{ job.organization__name }}</a>
                                </td>
                                <td>{{ job.tree_quantity_sum }}</td>
                                <td>{{ job.tree_len_sum | get_decimal }}</td>
                                <td>{{ job.dig_quantity }}</td>
                                <td>{{ job.dig_len | get_decimal }}</td>
                                <td>{{ job.organic_quantity }}</td>
                                <td>{{ job.organic_len | get_decimal }}</td>
                                <td>{{ job.workers_quantity }}</td>
                                <td>{{ job.technique_quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include "pagination.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block additional_js %}
    <script src="{% static "vendor/select2-4.1.0-beta.1/dist/js/select2.js" %}"></script>
    <script src="{% static "local/js/road_select2.js" %}"></script>
{% endblock %}